<div class="container-main">
  <div class="title">
    <p>work-experience items</p>
  </div>

  <div class="form-container">
    <form (submit)="AgregarJob()" class="form-box">
      <input type="text" name="startDate" placeholder="start date (mm/yyyy)" [(ngModel)]="myWorkExperience.startDate" class="input" /><br />
      <input type="text" name="endDate" placeholder="end date (mm/yyyy)" [(ngModel)]="myWorkExperience.endDate" class="input" /><br />
      <input type="text" name="location" placeholder="location (city, country)" [(ngModel)]="myWorkExperience.location" class="input" /><br />
      <input type="text" name="position" placeholder="position" [(ngModel)]="myWorkExperience.position" class="input" /><br />
      <input type="text" name="company" placeholder="company" [(ngModel)]="myWorkExperience.company" class="input" /><br />
      <input type="text" name="accomplishment" placeholder="accomplishment" [(ngModel)]="myWorkExperience.accomplishment" class="input" /><br />

      <button type="submit" class="btn-primary">{{ btntxt }}</button>
    </form>
  </div>

  <div class="job-list">
    <div *ngFor="let job of workExperience;" class="job-card">
      <div class="job-info">{{job.company}} - {{job.position}}</div>
      <div class="job-actions">
        <button class="btn-danger" (click)="deleteJob(job.id)">Delete</button>
        <button class="btn-secondary" (click)="updateJob(job.id)">Update</button>
      </div>
    </div>
  </div>
</div>

<!----------------------
<div class="container color-dark">

    <div class="col">
  
      <p>work-experience items</p>
  
    </div>
  
  </div>
  <div class="container color-ligth">
  
    <div class="col">
  
     <form>
        <input type="text" class="txt" name="startDate" placeholder="start date (mm/yyyy)" [(ngModel)]="myWorkExperience.startDate"><br>
        <input type="text" class="txt" name="endDate" placeholder="end date (mm/yyyy)" [(ngModel)]="myWorkExperience.endDate"><br>
        <input type="text" class="txt" name="location" placeholder="location (city, country)" [(ngModel)]="myWorkExperience.location"><br>
        <input type="text" class="txt" name="position" placeholder="position" [(ngModel)]="myWorkExperience.position"><br>
        <input type="text" class="txt" name="company" placeholder="company" [(ngModel)]="myWorkExperience.company"><br>
        <input type="text" class="txt" name="accomplishment" placeholder="accomplishment" [(ngModel)]="myWorkExperience.accomplishment"><br>
  
        <input type="submit" class="btn" value="{{ btntxt }}" (click)="AgregarJob()">
      </form>
    </div>
  
    <div class="col">
      <p class="life-container" *ngFor="let job of workExperience;">
  
        <input type="submit" class="btn" value="delete" (click)='deleteJob(job.id)'>
        <input type="submit" class="btn" value="update" (click)='updateJob(job.id)'>
        {{job.company}} - {{job.position}}

      </p>
  
    </div>
  
  </div>
----------->