<div class="container-main">
    <div class="title">
      <p>Education items</p>
    </div>
  
    <div class="form-container">
      <form (submit)="AgregarJob()" class="form-box">
        <input type="text" name="startDate" placeholder="date (mm/yyyy)" [(ngModel)]="myeducation.date" class="input" /><br />
        <input type="text" name="endDate" placeholder="Education institute" [(ngModel)]="myeducation.educativeInstitute" class="input" /><br />
        <input type="text" name="location" placeholder="grade" [(ngModel)]="myeducation.grade" class="input" /><br />
        <button type="submit" class="btn-primary">{{ btntxt }}</button>
      </form>
    </div>
  
    <div class="job-list">
      <div *ngFor="let job of educations;" class="job-card">
        <div class="job-info">{{job.educativeInstitute}} - {{job.grade}}</div>
        <div class="job-actions">
          <button class="btn-danger" (click)="deleteJob(job.id)">Delete</button>
          <button class="btn-secondary" (click)="updateJob(job.id)">Update</button>
        </div>
      </div>
    </div>
  </div>